<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="reportgarden.toppackapp">
<uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:name="common.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="reportgarden.view.Splash"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="reportgarden.view.MainActivity"/>
        <activity android:name="reportgarden.view.SearchResult"/>
        <service
            android:name="network.Service"
            android:exported="false"/>
        <receiver
            android:name="common.ResponseBroadcastReceiver"
            android:process=":remote">
        <intent-filter>
            <action android:name="ReportGarden.Receivers.ResponseBroadcastReceiver"/>
        </intent-filter>

        </receiver>


        <receiver android:name="common.ToastBroadcastReceiver"
            android:process=":remote"/>
    </application>

</manifest>